* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(248, 248, 248);
}
.bodypagos{
    background-color:rgb(248, 248, 248);
}
.textos{
    text-align: center;
}

.carritoo{
    background-color: rgba(3, 3, 3, 0.034);
    border: 2px solid #333; 
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem;
}

.resumen-caja {
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 20px;
    background-color: #fff;
}
.btn-group .btn-outline-secondary {
    font-weight: bold;
    padding: 2px 10px;
}

.card-img-top{
    height: 200px;
    object-fit: contain;
    padding: 10px;
}